.course-nav-link {
  color: #dc3545 !important;
  text-decoration: none !important;
  border: 0 !important;
}

.course-nav-link:hover:not(.active) {
  color: #dc3545 !important;
  text-decoration: underline !important;
  text-decoration-color: #dc3545 !important;
}

.course-nav-link.active {
  color: #000 !important;
  border-left: 3px solid #000 !important;
  text-decoration: none !important;
}
